@tailwind base;
@tailwind components;
@tailwind utilities;





::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #6d6c6c;
    border-radius: 0.6rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(102, 100, 100);
  }